<h1>relationship-builder works! (this claim is unproven)</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Story of relationship</th>
            <th scope="col">Date ideas</th>
            <th scope="col">Likes</th>
            <th scope="col">Dislikes</th>
            <th scope="col">Outlook</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Emily</td>
            <td>We matched on tinder last night. She sent me the first message right away. I like the assertiveness. it is rare for a woman to do that. 
                we talked briefly and i asked to have lunch the next day at Pastime, a local restaurant and bar. I felt a good connection, we have a lot in common.
                we both don't visualize things well. She seems pretty chill, smart, very normal, and that is surprisingly rare. she has skinny legs, but some ol cans. 
                needless to say, i was intrigued. i invited her to walk with me next to the nearby mississippi river. it was a beautiful sunny windy warm afternoon.
                I held her hand. led her down the levi towards the water and we sat on the concrete steps. we talked for a little while before i kissed her. 
                it was a passionate first kiss. we made out for a minute. we continued to talk, and walk, and make out. we heard music and walked over to listen to 
                the live rock band. we eventually walked back to our cars. the date was nearly 3 hours long. after we exchanged numbers i texted her to come over for 
                dinner and a movie. We are going to have a good night.
            </td>
            <td>board games, trivia, netflix and chill, movie</td>
            <td>her dog, jogging, numbers, pop and country music</td>
            <td>vegetables :(, taking a long time for pictures</td>
            <td>very good, we'll see how this night takes us</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Valentina</td>
            <td>Met at Happy's. talked about male/female gaze. went to two more bars, danced at an EDM club. 
                She did leg day the day after when she was hungover. 
                She mentioned salsa rouge dance class. I met her at the following social as she was leaving. 
                she was friendly. then she was out of town the next weekend. </td>
            <td>Dancing, </td>
            <td>Tom Holland, working out, Chemical engineering stuff, coronas</td>
            <td>her ex boyfriend, who is also a cancer... </td>
            <td>playing the long game with this one. Trying to get good at salsa. Not likely to develop into anything, but she is worth the effort</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Alexa</td>
            <td>We met at the Tank and the Bangas concert at Chelsie's Live. we ended up dancing next to eachother, 
                i was playing it cool. there was some light touch as we enjoyed the music together. I wistled at the band with
                My two fingers and she thought that was cool. Her friend was pretty wild and i think encouraging us to get together.
                She eventually asked MY name. we were vibin for sure. she left near the end of the set. i grabbed her arm (gently) 
                before she could leave and got her number. she said "you're fun!" and left. I sent a follow up text about the band
                the next day. went unanswered. Its a week later and i just sent probably a stupid text asking her out and how she was 
                feeling. we'll see how that one goes....</td>
            <td>Live music, Elsie's plate and pie, drinks at the bar? maybe a nice brunch place?</td>
            <td>my loud whistling, my sexy dance moves, live music</td>
            <td>texting???</td>
            <td>grim, awaiting any sort of response after a great initial meeting. this is looking ghostly though :(</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Tami</td>
            <td>She is a yoga instructor. is very friendly and kind. I got her number after casual chat over weeks/months of seeing her around yoga. 
                I asked her if she was going to sunday yoga last week and she said yes. (after yoga she said she almost didn't come, but her plans with meeting
                got her to persevere). We had bottomless mimosas and drank and listened to a sparsely attended live cover band. We had a good time, she's 
                had some ups and downs in her life, but she is trying to get better. She talked a lot about her experiences in the service industry. We both
                drank a fair amount and after 3-4 hours i was going to head out. (i probably should have tipped better, maybe that got back to her) She walked me 
                to my car and gave me a really nice long, tight hug. I kissed her, and not a short kiss. I'm pretty sure she was into it... i saw her look back at
                my car when she was walking away. I sent a text saying i had a good time. no reply. then i see she posted a pic on ig the next day saying it was 
                the first day of being sober. she is cleaning up her life... i worried i caused her to rethink her whole life cause i was so lame or something.
                i asked her about the ig post and if i caused it and she said no... but that something did happen after i left.. weird. not sure how to proceed.
                then i see another post showing her packing... i don't know if she is leaving town or what. very strange.
            </td>
            <td>not going out to the bar! more yoga things, live music, nature</td>
            <td>yoga, tipping well, organized work hours with tips etc in a little book, receipts</td>
            <td>managers getting up in her shit when she doesn't need help</td>
            <td>not looking good, she is just getting out of a relationship, so not looking to jump in a new one. she is also moving... somewhere. 
                she is very cute and petite. probably just play it cool. keep seeing her around, feel it
            </td>
        </tr>
    </tbody>
</table>