<h2>Ideas for future cool stuff</h2>

<ul class="list-group">
  <li class="list-group-item list-group-item-action">Game of Life simulator</li>
  <li class="list-group-item list-group-item-action">Make Each title editable, make the background color changeable, maybe let them save preferences... in cache? or db? need a clear cache button</li>
  <li class="list-group-item list-group-item-action">tic-tac-toe</li>
  <li class="list-group-item list-group-item-action">chess</li>
  <li class="list-group-item list-group-item-action">pull Letterboxed info from thier api?</li>
  <li class="list-group-item list-group-item-action">Movie, TV and music recomedations, pull from spotify?</li>
  <li class="list-group-item list-group-item-action">interactive art builder?? users input some some feilds and it generates something pretty?? use a location to create map art?</li>
</ul>
