<nav class="nav">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>

<h1>It all starts here</h1>
<app-first-comp></app-first-comp>
<app-email-form></app-email-form>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>
  
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          ...
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      </div>
  </div>
</div>

<div>
  <h2>Contact Info</h2>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action">phone number</li>
    <li class="list-group-item list-group-item-action">Location: Baton Rouge, LA</li>
    <li class="list-group-item list-group-item-action">Github</li>
    <li class="list-group-item list-group-item-action">Linkd in</li>
  </ul>
</div>


<div>
  <h2>Biography</h2>
  <p>it all started when i was born...</p>
  <p>Bachelor of Science in Mechanical Engineering from the University of Central Florida class of 2015</p>
  <h2>Skills</h2>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action list-group-item-primary">Angular</li>
    <li class="list-group-item list-group-item-action list-group-item-secondary">React</li>
    <li class="list-group-item list-group-item-action list-group-item-success">Javascript/Typescript</li>
    <li class="list-group-item list-group-item-action list-group-item-danger">Node.js</li>
    <li class="list-group-item list-group-item-action list-group-item-warning">Python</li>
    <li class="list-group-item list-group-item-action list-group-item-info">Ruby on Rails</li>
    <li class="list-group-item list-group-item-action list-group-item-dark">and many more...</li>
  </ul>
</div>

<h2>Ideas for future cool stuff</h2>
<ul class="list-group">
  <li class="list-group-item list-group-item-action">Dating tracker, to keep potential relationships straight. Includes names, likes, dislikes, potential activities to do, etc</li>
  <li class="list-group-item list-group-item-action">Game of Life simulator</li>
  <li class="list-group-item list-group-item-action">tic-tac-toe</li>
  <li class="list-group-item list-group-item-action">chess</li>
  <li class="list-group-item list-group-item-action">pull Letterboxed info from thier api?</li>
  <li class="list-group-item list-group-item-action">interactive art builder?? users input some some feilds and it generates something pretty?? use a location to create map art?</li>
</ul>
