<p>bio works!</p>

<div>
    <h2>Biography</h2>
    <p>it all started when i was born... \n I grew up in the suburbs of Orlando Florida, where the mouse is king. 
        I found my way into the sport of swimming and water polo during high school. I continued to play club water polo 
        through college while i got my BS in Mechanical Engineering from UCF. 
        After graduating i got a job as a design engineer for a magnetics company on the east coast of florida. 
        I enjoyed creating new magnetic coils and working with the prototype team to craft the component to the customers specification. 
        After i had my fill of the beach i wanted to fulfill a dream of moving to Colorado and snowboard as much as possible.
        Then i discovered programming and decided to enroll in the Flatiron School immersive web development bootcamp. 
        I loved the experience and want nothing more than to work with friends in an exciting evironment while i code the future of the internet.
        Soon after graduating i got a job at IBM in Baton Rouge, LA where i work to this day as a consultant to large companies as they adopt new technologies. 
    </p>
    <p>Bachelor of Science in Mechanical Engineering from the University of Central Florida class of 2015</p>
    <h2>Skills</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action list-group-item-primary">Angular</li>
        <li class="list-group-item list-group-item-action list-group-item-secondary">React</li>
        <li class="list-group-item list-group-item-action list-group-item-success">Javascript/Typescript</li>
        <li class="list-group-item list-group-item-action list-group-item-danger">Node.js</li>
        <li class="list-group-item list-group-item-action list-group-item-warning">Python</li>
        <li class="list-group-item list-group-item-action list-group-item-info">Ruby on Rails</li>
        <li class="list-group-item list-group-item-action list-group-item-dark">and many more...</li>
    </ul>
    <p>Add links to each technology. maybe a little pop up box??</p>
</div>
