<p>bio works!</p>

<div>
    <h2>Biography</h2>
    <p>it all started when i was born...</p>
    <p>Bachelor of Science in Mechanical Engineering from the University of Central Florida class of 2015</p>
    <h2>Skills</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action list-group-item-primary">Angular</li>
        <li class="list-group-item list-group-item-action list-group-item-secondary">React</li>
        <li class="list-group-item list-group-item-action list-group-item-success">Javascript/Typescript</li>
        <li class="list-group-item list-group-item-action list-group-item-danger">Node.js</li>
        <li class="list-group-item list-group-item-action list-group-item-warning">Python</li>
        <li class="list-group-item list-group-item-action list-group-item-info">Ruby on Rails</li>
        <li class="list-group-item list-group-item-action list-group-item-dark">and many more...</li>
    </ul>
</div>
