<p>workshop works!</p>

<div class="card">
    <div class="card-header">
        {{cardHeader}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ cardTitle }}</h5>
        <p class="card-text">{{ cardText }}</p>
        <button class="btn btn-primary" (click)="showInputs = !showInputs">Edit Card</button>
    </div>
    <div *ngIf="showInputs">
        <input id="card-header" name="cardHeader" [(ngModel)]="cardHeader" type="text"><br>
        <input id="card-title" name="cardTitle" [(ngModel)]="cardTitle" type="text"><br>
        <input id="card-text" name="cardText" [(ngModel)]="cardText" type="text"><br>
    </div>
</div>

<app-first-comp></app-first-comp>

<app-modal></app-modal>

<app-angular-tutorial1></app-angular-tutorial1>

<app-first-comp></app-first-comp>
