<div class="card">
  <div class="card-header">
      {{ logType }}
  </div>
  <div class="card-body">
      <h5 class="card-title">{{ logText }}</h5>
      <p class="card-text">{{ time }}</p>
      <button class="btn btn-primary" (click)="showInputs = !showInputs">Edit Card</button>
  </div>
  <div *ngIf="showInputs">
      <input id="card-header" name="logType" [(ngModel)]="logType" type="text"><br>
      <input id="card-title" name="logText" [(ngModel)]="logText" type="text"><br>
      <input id="card-text" name="time" [(ngModel)]="time" type="text"><br>
  </div>
</div>

<h1>And the winner is.... Bruce!</h1>
<p>dog names</p>
<ul class="list-group">
  <li class="list-group-item list-group-item-action">Andy</li>
  <li class="list-group-item list-group-item-action">Art</li>
  <li class="list-group-item list-group-item-action">Ford</li>
  <li class="list-group-item list-group-item-action">Mac</li>
  <li class="list-group-item list-group-item-action">Gus</li>
  <li class="list-group-item list-group-item-action">Walter</li>
  <li class="list-group-item list-group-item-action">Chase</li>
  <li class="list-group-item list-group-item-action">Yorke</li>
  <li class="list-group-item list-group-item-action">Nolan</li>
  <li class="list-group-item list-group-item-action">Yogi</li>
  <li class="list-group-item list-group-item-action">Bernie</li>
  <li class="list-group-item list-group-item-action">Frank</li>
  <li class="list-group-item list-group-item-action">Miller</li>
  <li class="list-group-item list-group-item-action">Gem</li>
  <li class="list-group-item list-group-item-action">Reese</li>
  <li class="list-group-item list-group-item-action">Gil</li>
  <li class="list-group-item list-group-item-action">Howie</li>
</ul>
