/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$base-color: #00c2c7;
$triad-a: #c700c2;
$triad-b: #c2c700;


body {
    h1 {
        padding: 1em 0 .5em 0;
    }
}